@font-face {
    font-family: 'RocGroteskW05Wide';
    src: url('RocGroteskW05Wide.eot');
    src: url('RocGroteskW05Wide.eot') format('embedded-opentype'),
         url('RocGroteskW05Wide.woff2') format('woff2'),
         url('RocGroteskW05Wide.woff') format('woff'),
         url('RocGroteskW05Wide.ttf') format('truetype'),
         url('RocGroteskW05Wide.svg#RocGroteskW05Wide') format('svg');
}

@font-face {
    font-family: 'FontspringDEMOrocgrotesklight';
    src: url('FontspringDEMOrocgrotesklight.eot');
    src: url('FontspringDEMOrocgrotesklight.eot') format('embedded-opentype'),
         url('FontspringDEMOrocgrotesklight.woff2') format('woff2'),
         url('FontspringDEMOrocgrotesklight.woff') format('woff'),
         url('FontspringDEMOrocgrotesklight.ttf') format('truetype'),
         url('FontspringDEMOrocgrotesklight.svg#FontspringDEMOrocgrotesklight') format('svg');
}
@font-face {
    font-family: 'RocGroteskW05WideBold';
    src: url('RocGroteskW05WideBold.eot');
    src: url('RocGroteskW05WideBold.eot') format('embedded-opentype'),
         url('RocGroteskW05WideBold.woff2') format('woff2'),
         url('RocGroteskW05WideBold.woff') format('woff'),
         url('RocGroteskW05WideBold.ttf') format('truetype'),
         url('RocGroteskW05WideBold.svg#RocGroteskW05WideBold') format('svg');
}
@font-face {
    font-family: 'GibsonLight';
    src: url('GibsonLight.eot');
    src: url('GibsonLight.eot') format('embedded-opentype'),
         url('GibsonLight.woff2') format('woff2'),
         url('GibsonLight.woff') format('woff'),
         url('GibsonLight.ttf') format('truetype'),
         url('GibsonLight.svg#GibsonLight') format('svg');
}
@font-face {
    font-family: 'FontspringDEMOrocgroteskmedium';
    src: url('FontspringDEMOrocgroteskmedium.eot');
    src: url('FontspringDEMOrocgroteskmedium.eot') format('embedded-opentype'),
         url('FontspringDEMOrocgroteskmedium.woff2') format('woff2'),
         url('FontspringDEMOrocgroteskmedium.woff') format('woff'),
         url('FontspringDEMOrocgroteskmedium.ttf') format('truetype'),
         url('FontspringDEMOrocgroteskmedium.svg#FontspringDEMOrocgroteskmedium') format('svg');
}
@font-face {
    font-family: 'FontspringDEMOrocgroteskwidemedium';
    src: url('FontspringDEMOrocgroteskwidemedium.eot');
    src: url('FontspringDEMOrocgroteskwidemedium.eot') format('embedded-opentype'),
         url('FontspringDEMOrocgroteskwidemedium.woff2') format('woff2'),
         url('FontspringDEMOrocgroteskwidemedium.woff') format('woff'),
         url('FontspringDEMOrocgroteskwidemedium.ttf') format('truetype'),
         url('FontspringDEMOrocgroteskwidemedium.svg#FontspringDEMOrocgroteskwidemedium') format('svg');
}
@font-face {
    font-family: 'FontspringDEMOgibsonbook';
    src: url('FontspringDEMOgibsonbook.eot');
    src: url('FontspringDEMOgibsonbook.eot') format('embedded-opentype'),
         url('FontspringDEMOgibsonbook.woff2') format('woff2'),
         url('FontspringDEMOgibsonbook.woff') format('woff'),
         url('FontspringDEMOgibsonbook.ttf') format('truetype'),
         url('FontspringDEMOgibsonbook.svg#FontspringDEMOgibsonbook') format('svg');
}
